*{
    box-sizing: border-box;
}

body{
   background-color: #282c34;
   min-height: 100vh;
}

.app{
   display: grid;
   grid-template-columns: 1fr 1.5fr;
   gap: 3rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo{
    display: flex;
    padding-top: 10rem;
    align-items: flex-start;
}

.task{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.todo-is-completed .checkbox{
    color: #000;
    background: #fff;
}

.todo-is-completed input {
    text-decoration: line-through;
}

.checkbox {
    width: 28px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    border: 1px solid #fff;
}

.checkbox:hover, button:hover{
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0);
}

.checkbox-checked, button:active{
    color: #000;
    background: #fff;
}

ul{
    list-style: none;
    padding: 0;
    line-height: 2rem;
    width: 500px;
}

input {
    border: none;
    background: transparent;
    color: white;
    font-size: 2rem;
    outline: none;
    width: 100%;
}

.todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

button{
    background-color: #41424c;
    border: transparent;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
    transition: background .07s ease-in-out;
}

.sidebar{
    background-color: #594D5B;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
}

.project-list{
    display: flex;
    flex-direction: column;
}

.project{
    display: flex;
    flex-direction: row;
    padding-right: 10rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}
